/* hide the input */
input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* style the button body */
label {
  display: block;
  width: 500px;
  height: 150px;
  background-color: #477a85;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
}

/* This is the toggle ball */
label::after {
  content: "";
  width: 120px;
  height: 120px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 15px;
  left: 15px;
  transition: 0.5s;
}

/* animation for button toggle */
input:checked + label:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}
input:checked + label {
  background-color: #243d42;
}
/* toggle ball animation */
label:active:after {
  width: 160px;
}
