/* using grid-template-area */
.grid-template-area {
  display: grid;
  grid-template-columns: auto 171px;
  grid-template-rows: auto;
  grid-template-areas:
    "text1 image"
    "text2 image";
}

.grid-template-area .box1{
  grid-area: text1;
  background-color: blue;
}

.grid-template-area .box2 {
  grid-area: image;
  background-color: red;
  height: 100%;
}

.grid-template-area .box3 {
  grid-area: text2;
  
  background-color: green;
}

@media screen and (max-width: 768px) {
  .grid-template-area {
      display: block;
  }
}

/* using grid-column and grid-row */
.grid-row-column {
  display: grid;
  grid-template-columns: auto 171px;
  grid-template-rows: auto;
}

.grid-row-column .box1{
  background-color: blue;
  grid-column: 1;
  grid-row: 1;
}

.grid-row-column .box2 {
  background-color: red;
  height: 100%;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-row-column .box3 {
  background-color: green;
  grid-column: 1;
  grid-row: 2;
}

@media screen and (max-width: 768px) {
  .grid-row-column {
      display: block;
  }
}

.divider {
  width: 100%;
  height: 40px;
}